* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #0a0a0a;
  color: white;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
}

.navbar ul {
  display: flex;
  gap: 30px;
  list-style: none;
  color: #a1a1aa;
  cursor: pointer;
}

/* HERO */
.hero {
  padding: 100px 60px;
  max-width: 1100px;
}

.small-text {
  color: #3b82f6;
  margin-bottom: 15px;
  font-size: 0.9rem;
}

.hero h1 {
  font-size: 3.2rem;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero-desc {
  color: #a1a1aa;
  max-width: 500px;
  margin-bottom: 30px;
}

/* BUTTONS */
.hero-buttons {
  display: flex;
  gap: 15px;
}

.primary {
  background: #3b82f6;
  padding: 12px 24px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

.secondary {
  background: transparent;
  border: 1px solid #333;
  padding: 12px 24px;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

/* SERVICES */
.services {
  padding: 80px 60px;
}

.services h2 {
  margin-bottom: 30px;
}

.service-cards {
  display: flex;
  gap: 25px;
}

.card {
  background: #111;
  padding: 25px;
  border-radius: 10px;
  flex: 1;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  background: #181818;
}

.card h3 {
  margin-bottom: 10px;
}

.card p {
  color: #a1a1aa;
}
/* PORTFOLIO */
.portfolio {
  padding: 80px 60px;
}

.portfolio h2 {
  margin-bottom: 30px;
}

.projects {
  display: flex;
  gap: 25px;
}

.project {
  background: #111;
  padding: 25px;
  border-radius: 10px;
  flex: 1;
  transition: 0.3s;
}

.project:hover {
  transform: translateY(-5px);
  background: #181818;
}

.project h3 {
  margin-bottom: 10px;
}

.project p {
  color: #a1a1aa;
  margin-bottom: 15px;
}

.project span {
  font-size: 0.8rem;
  color: #3b82f6;
}